<!DOCTYPE html>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="/">matcha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form action="">
  		<input type="hidden" id="user" value="<%=user%>">
  </form>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
	 	<% if (token) { %>
      	<a class="nav-item nav-link" href="/p/u">profile (<%=user%>)</a>
      	<a class="nav-item nav-link" href="/chat">chat</a>
      	<a class="nav-item nav-link" href="/visitors">visitors</a>
      	<a class="nav-item nav-link" href="/visitors/likes">likes</a>
      	<a class="nav-item nav-link" href="/notifications">notifications
				<span class="notifications" id="<%=user%>"></span></a>
         <a class="nav-item nav-link" href="/logout" id="logout">logout</a>
	 	<%}else { %>
      	<a class="nav-item nav-link" href="/signup">signup</a>
      	<a class="nav-item nav-link" href="/login">login</a>
		<% } %>
    </div>
  </div>
  <form action="/s" method="post">
		<select name="filter" id="filter">
			<option value="city">city</option>
			<option value="age">age</option>
			<option value="popularity">popularity</option>
			<option value="interests">interests</option>
		</select>
		<input type="text" name="find" id="find" placeholder="search..." size="10">
		<input type="submit" value="search">
	</form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/js/navSocket.js"></script>
</nav>
