<h1>mysql login</h1>
<form class="form">
    <div class="formbody">
        <label for="username">username</label>
        <input type="text" class="forminput" placeholder="mysql username..." label="username" name="username">
        <label for="password">password</label>
        <input type="password" class="forminput" placeholder="mysql password..." label="password" name="password">
        <input type="submit" class="formsubmit" value="submit" />
    </div>
</form> 
    