<h1 class="heading">mysql login</h1>
<div class="formContainer">
    <form method="post" action="/dbconfigs" class="form">
        <div class="formbody">
            <label for="username">username</label><br>
            <input type="text" class="formInput" placeholder="mysql username..." label="username" name="username" required><br>
            <label for="password">password</label><br>
            <input type="password" class="formInput" placeholder="mysql password..." label="password" name="password" required><br>
            <label for="hostname">hostname</label><br>
            <input type="text" class="formInput" placeholder="localhost" label="hostname" name="hostname"><br>
            <input type="submit" class="formsubmit" value="submit" />
        </div>
    </form>
</div> 
    