<h1 class="heading">forgot-password</h1>
<form method="post" action="/forgot-password" class="form">
    <div class="formBody">
        <label for="email">email</label><br>
        <input type="text" class="formInput" placeholder="email..." label="email" name="email"><br>
        <input type="submit" class="formSubmit" value="submit" />
    </div>
</form> 
    