<h1>forgot-password</h1>
<form class="form">
    <div class="formbody">
        <label for="username">email</label>
        <input type="text" class="forminput" placeholder="email..." label="email" name="email">
        <input type="submit" class="formsubmit" value="submit" />
    </div>
</form> 
    