<%- include ('partials/header') %>
<h5>history of likes</h5>
<% for (let i in likes) {%>
	<a href='/p/<%=likes[i].username%>'><li class="list-group-item"><%=likes[i].username%></li></a>
<%}%>
<%- include ('partials/footer') %>
