<%- include ('partials/header') %>
<h3>matches</h3>
<% for (let i in lovers) {%>
	<a href='/chat/<%=lovers[i].liked%>'><li class="list-group-item"><%=lovers[i].liked%></li></a>
<%}%>
<%- include ('partials/footer') %>
