<%- include ('partials/header') %>
<h2>profile</h2><br>
<form action="/p" method="post">
	<label for="age">age</label><br>
	<input type="text" id="age" name="age"><br>		
	
	<label for="gender">gender</label><br>
	<input type="text" id="gender" name="gender"><br>		
	
	<label for="sexual_orientation">sexual orientation</label><br>
	<input type="text" id="sexual_orientation" name="sexual_orientation"><br>		
	
	<label for="preference">preference</label><br>
	<input type="text" id="preference" name="preference"><br>		

	<label for="interests">interests</label><br>
	<input type="text" id="interests" name="interests"><br>		

	<label for="location">location</label><br>
	<input type="text" id="location" name="location"><br>		

	<label for="bio">bio</label><br>
	<input type="text" id="bio" name="bio"><br>		
	
	<label for="password">password</label><br>
	<input type="password" id="password" name="password"><br>
	<br>
	<input type="submit" value="submit">
</form><br>
<%- include ('partials/footer') %>
