<%- include ('partials/header') %>
<h3>enter email address to reset password</h3><br>
<form action="/resetpassword" method="post">
	<input type="text" id="email" name="email"><br>		
	<br>
	<input type="submit" value="submit">
</form>
<%- include ('partials/footer') %>
