<%- include ('partials/header') %>
<form action="/p/upload" method="post" enctype="multipart/form-data">
	<div class="form-group col-md-4">
		<label for="photos"><h5 class="text-warning">upload photos</h5></label><br>
		<input type="file" id="photos" name="photos" class="form-control-file bg-secondary btn">
	</div>
	<div class="form-group col-md-4">
		<input type="submit" value="submit" class="btn bg-danger">
	</div>
</form>
<%- include ('partials/footer') %>
