<%- include ('partials/header') %>
<h5>history of visitors</h5>
<% for (let i in visitors) {%>
	<a href='/p/<%=visitors[i].visitor%>'><li class="list-group-item"><%=visitors[i].visitor%></li></a>
<%}%>
<%- include ('partials/footer') %>
