<html>
<head>
<title> {{ title }} </title>
</head>
<body>
<div>
matcha - 
<a href="{{ url_for('index') }}">home</a>
<a href="{{ url_for('login') }}">login</a>
<a href="{{ url_for('sign_up') }}">sign_up</a>
<a href="{{ url_for('profile') }}">profile</a>
<a href="{{ url_for('browse') }}">browse</a>
<a href="{{ url_for('matches') }}">matches</a>
<a href="{{ url_for('chat') }}">chat</a>
</div><hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</html>
