{% extends "base.html" %}

{% block content %}
<h1> Sign up </h1>

<form action="" method=POST>
{{ form.hidden_tag() }}

{{ form.username.label }}<br>
{{ form.username(size=20) }}</p>
{% for error in form.username.errors %}
{{ error }}
{% endfor %}</p>

{{ form.email.label }}<br>
{{ form.email(size=20) }}</p>
{% for error in form.email.errors %}
{{ error }}
{% endfor %}</p>

{{ form.first_name.label }}<br>
{{ form.first_name(size=20) }}</p>
{% for error in form.first_name.errors %}
{{ error }}
{% endfor %}</p>


{{ form.last_name.label }}<br>
{{ form.last_name(size=20) }}</p>
{% for error in form.last_name.errors %}
{{ error }}
{% endfor %}</p>


{{ form.password.label }}<br>
{{ form.password(size=20) }}</p>
{% for error in form.password.errors %}
{{ error }}
{% endfor %}</p>


{{ form.password2.label }}<br>
{{ form.password2(size=20) }}</p>
{% for error in form.password2.errors %}
{{ error }}
{% endfor %}</p>


{{ form.submit() }}</p>
</form>
{% endblock %}
